{% extends "base.html.twig" %}

{% block title %}Créer un article
{% endblock %}

{% block body %}
    <h1>Créer un article</h1>

    <div class="alert alert-info">Utilisez le formulaire ci-dessous pour créer le plus beau des articles !</div>

    {#{{ form(articleForm) }}#}

    {{ form_start(articleForm, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(articleForm) }}

    {{ form_end(articleForm) }}

{% endblock %}
